
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}

.header{
  background: linear-gradient(rgba(90, 141, 228, 0.8),rgba(90, 141, 228, 0.8)),url('../images/banner-pic2.png')center/cover no-repeat;
  min-height: 50vh;

}

.nav-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
}
.nav-logo{
  text-transform: capitalize;
  text-decoration: none;
  color: #fff;
  padding: 8px;
  font-size: 1.1rem;
}
.nav-logo:hover{
  color: #bcbcbc;
}
.nav-icon:hover{
  cursor: pointer;
  color: #bcbcbc;
}
.nav-btn{
  position: fixed;
  right: 15px;
}
.nav-btn-bg{
  background: #777;
  border-radius: 3px;
  
}
.nav-icon{
  color: #fff;
  font-size: 1.1rem;
  padding: 2px;
  /* border: 1px solid #000; */
}

.nav-link{
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100vh;
  width: 100%;
  z-index: 999;
  background: rgb(89, 168, 253);
  display: none;
}

.menu{
  list-style: none;
  min-height: 50vh;
}

.menu-link{
  display: block;
  padding: 10px 15px;
  text-transform: capitalize;
  text-decoration: none;
  color: #fff;
  position: static;
  font-size: 1.2rem;
}
.menu-link:hover{
  color: rgb(160, 206, 255);
}
.nav-close{
  display: flex;
  justify-content: flex-end;
  margin: 8px 10px;
}
.close-icon{
  color: rgba(222, 60, 60, 0.934);
  padding: 3px;
  font-size: 1.4rem;
}
.close-icon:hover{
  cursor: pointer;
  color: rgb(255, 72, 72);
}
.showMenu{
  display: block;
}
@media screen and (min-width: 768px) {
  .nav-btn,
  .nav-close{ display: none; }
  .nav-top{
    padding: 20px;
  }
  .nav-logo{
    font-size: 1.6rem;
  }
  .nav-link{
    display: flex;
    position: static;
    min-height: auto;
    justify-content: flex-end;
    background: transparent;
  }
  .menu{
    display: flex;
    min-height: auto;
    
  }
  .menu-link{
    font-size: 1.3rem;
  }
  .menu-link:hover{
    color: #d4d4d4 !important;
  }
}

.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(50vh - 61px);
  /* min-height: 50vh; */
  color: #fff;
  text-align: center;
}
.banner-center h1{
  font-size: 2.5rem;
  text-transform: capitalize;
}
.banner-center h4{
  font-size: 1.2rem;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.banner-link a{
  padding: 6px;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  text-transform: capitalize;
}
.banner-link a:hover,
.banner-icon:hover{
  border: 2px solid transparent;
  background: #fff;
  color: rgb(67, 152, 250);
}

@media screen and (min-width: 768px) {
  .header{
    min-height: 70vh;
  }
  .banner{
    min-height: 50vh;
  }
  .banner-center h1{
    font-size: 4rem;
  }
  .banner-center p{
    font-size: 1.5rem;
  }
  .banner-center h4{
    font-size: 2rem;
    margin-bottom: 25px;
    text-transform: capitalize;
  }
}
@media screen and (min-width: 768px) {
  .header{
    min-height: 90vh;
  }
  .banner{
    min-height: calc(80vh - 67px);
  }
  .banner-center h1{
    font-size: 4rem;
  }
  .banner-center p{
    font-size: 1.5rem;
  }
  .banner-center h4{
    font-size: 2rem;
    margin-bottom: 25px;
    text-transform: capitalize;
  }
  .banner-link a {
    font-size: 1.5rem;
  }
}
/* about------------------------- */

.about{
  /* padding: 0 30px; */
  min-height: 100vh;
}
.about h1{
  display: none;
}
.about-container{
  margin-bottom: 10px;
}
.about-image{
  display: flex;
  justify-content: center;
  /* margin-bottom: 10px; */
  margin: 10px 0;
}
.about-image img{
  width: 70%;
  display: block;
  border-radius: 50%;
}

.about-info-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 15px;
}
.about-info{
  margin-bottom: 20px;
}
.about-info p{
  text-transform: capitalize !important;
  text-align: center;
  margin-bottom: 10px;
}

.about-info span{
  font-size: 1.2rem;
}
.email-text span{
  text-transform: lowercase !important;
}
.about-info p > label{
  font-weight: bold;
  font-size: 1.2rem;
  display: block;
}
.about-info p:last-child span{
  white-space: break-spaces;
}
.about-skills-img{
  display: flex;
}
.about-skills-img .footer-img img{
  width: 50%;
}
@media screen and (min-width:425px) {
  .about-info{

    margin: auto;
  }
  .img-container{
    margin-bottom: 20px;
  }
  .about-info p{
    text-align: left;
    margin-bottom: 5px;
  }
  .about-info p > label{
    display: inline-block !important;
  }
  .about-image img{
    width: 55%;
  }
  .about-skills-img{
    margin: 15px auto;
  }
}
@media screen and (min-width: 700px) {
  .about-image img{
    width: 30%;
  }
}
@media screen and (min-width: 768px) {
  .about{
    min-height: 50vh;
    overflow: auto;
    margin: 20px 0;
  }
  .about h1{
    display: block;
    text-align: center;
    font-size: 4rem;
    text-transform: capitalize;
    color: #666;
    margin-bottom: 15px;
  }
  .about-info p{
    text-transform: capitalize !important;
    margin-bottom:3px;
  }
 
  
  .about-image img{
    width: 70%;
  }
  .about-container{
    display: flex;
    /* just */
  }
  .about-info-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
  }
  .about-skills-img{
    display: flex;
    flex-direction: row;
  }
  .about-skills-img .footer-img img{
    width: 70%;
  }
}
@media screen and (min-width: 1024px) {
  .about{
    min-height: 50vh;
  }
  .about-image img{
    width: 70%;
  }
  .about-container{
    display: flex;
    justify-content: space-around;
  }
  .about-info{
    margin: 0;
  }
  .about-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    width: 100%;
    
  }
  .about-skills-img{
    display: flex;
    flex-direction: row;
    margin: 0;
  }
  .about-skills-img .footer-img img{
    width: 50%;
    
  }
}

/* services */

.services{
  padding: 30px;
  min-height: 100vh;
  background: #e3e3e3;
}
.services h1{
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
  color: #666;
  margin-bottom: 30px;
}

.service-card{
  margin-bottom: 20px;
  text-align: center;
  background: #fff;
  border-radius: 3px;
  padding: 20px;
  box-shadow: 2px 2px 5px #555;
}

.service-card div,
.service-card h2,
.service-card p{
  margin-bottom: 15px;
  color: #444;
  text-transform: capitalize;
}
.service-card h2{
  font-size: 1.7rem;
}
.service-card p{
  font-size: 1.2rem;
}
.card-icon{
  font-size: 3rem !important;
  color: rgb(0, 149, 255);
  border: 5px solid rgb(0, 149, 255);
  padding: 15px;
  border-radius: 50%;
  transition: 1s all;
}
.service-card:hover .card-icon{
  background: rgb(0, 149, 255);
  border: 5px solid #fff;
  color: #fff;
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .service-center{
    display: grid;
    grid-template-columns: repeat(2,auto);
  }
  .service-card{
    margin: 10px;
  }
  .services h1,
  .skills h1,
  .project h1{
    font-size: 3rem !important;
  }
}
@media screen and (min-width: 1024px) {
  .service-center{
    display: grid;
    grid-template-columns: repeat(3,auto);
  }
  .service-card{
    margin: 10px;
  }
}

/* skills ------- */
.skills{
  padding: 20px;
}
.skills h1{
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
  color: #666;
  margin-bottom: 30px;
}

.card-img img{
  width: 25%;
  display: block;
}
.skill-image,
.skill-caption{
  margin-bottom: 15px;
}
.skill-caption{
  background: #666;
  width: 100%;
}
.skill-caption-text{
  font-size: 1.1rem;
  color: #fff;
  text-align: center;
  padding: 5px 8px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
}
.skill-center{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.card-img img{
  width: 60%;
  display: block;
  margin: 10px auto;
  opacity: 0.5;
}
.card-img img:hover{
  cursor: pointer;
}
.card-img img.active{
  opacity: 1;
}
@media screen and (min-width: 425px) {
  .card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }
  .skills h1{
    font-size: 2rem;
  }
}
@media screen and (min-width: 600px) {
  .skills h1{
    font-size: 2rem;
  }
  .card-container{
    display: flex;
  }
  .skill-caption{
    background: transparent;
    
  }
  
  .skill-caption-text{
    color: #000 !important;
    text-shadow: 2px 2px 1px #444;
    font-size: 1.5rem;
  }
}
/* project ------------------------*/
.project{
  padding: 30px;
  background: #e9e9e9;
}
.project h1{
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
  color: #666;
  margin-bottom: 30px;
}
.project-feature{
  background: #fff;
  box-shadow: 2px 2px 3px #333;
  margin-bottom: 20px;
}
.project-feature-con img{
  width: 100%;
  display: block;
  margin-bottom: 10px;
}
.project-feature h1{
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.project-feature .p1{
  color: blue;
  text-transform: capitalize;
  margin-bottom: 10px;
  margin-left: 2px;
}
.project-date{
  color: #444;
}
.project-feature .p2{
  margin-left: 2px;
  text-align: justify;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.project-feature-footer{
  text-align: center;
  
}
.project-feature-footer a{
  display: inline-block;
  padding: 7px 10px;
  background: rgb(72, 154, 255);
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 3px;
  text-decoration: none;
  text-transform: capitalize;
  border: 2px solid transparent;
  transition: 1s ;
}
.project-feature-footer a:hover{
  color: rgb(72, 154, 255);
  background: #fff;
  border: 2px solid rgb(72, 154, 255);
}

@media screen and (min-width: 600px) {
  .project-center{
    display: grid;
    grid-template-columns: repeat(2,auto);
  }
  .project-feature{
    margin: 10px;
  }
}
@media screen and (min-width: 769px) {
  .project-center{
    display: grid;
    grid-template-columns: repeat(3,auto);
  }
  .project-feature{
    margin: 10px;
  }
}

/* contact */

.contact{
  padding: 30px;
  background: rgb(21, 158, 255);
}
.contact h1{
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.7rem;
  margin-bottom: 20px;
}

.contact-loc{
  color: #fff;
  margin-bottom: 20px;
}
.contact-loc > div{
  margin-bottom: 5px;
  font-size: 18px;
}
.contact-form-group{
  margin-bottom: 10px;
}

.contact-form-group > label{
  display: block;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 2px;
}

.email,
.message{
  font-size: 1.1rem;
  width: 100%;
  border-radius: 3px;
  border: none;
}
.email{
  padding: 5px;
}
.message{
  padding: 5px;
}
.send{
  border: 2px solid transparent;
  padding: 8px 17px;
  background: #fff;
  color: rgb(92, 174, 255);
  font-size: 1.1rem;
  transition: .5s all;
}
.send:hover{
  background: rgb(92, 174, 255);
  color: #fff;
  border: 2px solid #fff;
}
@media screen and (min-width: 650px) {
  .contact-center{
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 900px) {
  .contact h1{
    font-size: 3rem;
  }
  .contact-center{
    display: flex;
    justify-content: space-around;
  }
  .contact-loc > div{
    margin-bottom: 5px;
    font-size: 1.7rem;
  }
  .contact-con{
    width: 50%;
  }
.email{
  padding: 5px;
  font-size: 1.5rem;
}
.message{
  padding: 5px;
  font-size: 1.5rem;
}
.send{
  border: 2px solid transparent;
  padding: 8px 17px;
  background: #fff;
  color: rgb(92, 174, 255);
  font-size: 1.1rem;
  transition: .5s all;
}
}

/* footer */
.footer{
  padding: 30px;
  display: flex;
  justify-content: center;
}
.footer-center{
  text-align: center;
  font-size: 1.1rem;
  text-transform: capitalize;
}
.footer-center p,
.arrow-up,
.footer-link{
  margin-bottom: 20px;
}

.footer-icon-up{
  color: #666;
  border: 2px solid #666;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 10px;
  transition: 0.5s;
}
.footer-icon-up:hover{
  color: rgb(92, 174, 255);
  border: 2px solid rgb(92, 174, 255);
  border-radius: 50%;
  transform: scale(1.2);
}

.footer-link{
  display: flex;
  justify-content: space-between;
}
.footer-link a{
  display: inline-block;
  font-size: 1.4rem;
  text-decoration: none;
  color: rgb(0, 106, 255);
  transition: 0.5s;
}
.footer-link a:hover{
  color: rgb(123, 189, 255);;
  transform: scale(1.2);
}

@media screen and (min-width: 600px) {
  .footer-center p{
    font-size: 1.5rem;
  }
  .footer-link a{
    font-size: 1.8rem;
  }
}
