
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
/* font-family: 'Tilt Prism', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Tilt+Prism&display=swap');
/* font-family: 'Cedarville Cursive', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Moirai+One&display=swap');
/* font-family: 'Moirai One', cursive; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --blue: rgb(0, 121, 255);
  --green: #00DFA2;
  --sGreen: #00ba88;
  --tGreen: #00986f;
  --yellow: #F6FA70;
  --red: #FF0060;
  --purple: #40128B;
  --sPurple: rgb(47, 0, 156);
}

body {
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Cedarville Cursive', cursive; */
}

.header{
  background: linear-gradient(rgb(30, 30, 30,0.5),rgba(30, 30, 30, 0.5)),url("../images/a2.jpg") center/cover no-repeat;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.nav{
  background: rgba(0, 0, 0,0.6);
  position: fixed;
  width: 100%;
  z-index: 50;
  display: flex;
  align-items: center;
}
.sign-in{
  position: absolute;
  right: 10%;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  font-size: 1.3em;
  display: block;
  padding: 0 5px;
  border-radius: 4px;
  transition: 0.3s;
}
.sign-in:hover{
  color: #ff0062;
  background: #fff;
}
.nav-top{
  display: flex;
  align-items: center;
  padding: 5px 0px;
  margin-left: 10%;
  /* width: 50%; */
}

.nav-btn{
  margin-right: 15px;
}
.nav-btn button{
  cursor: pointer;
  border: none;
  background: none;
  transition: 0.3s color;
}
.nb-icon{
  color: #fff;
  font-size: 1.5em;
}
.nav-btn button:hover .nb-icon{
  color: #ff488e;
}
.nav-top a{
  display: block;
  padding: 5px;
  letter-spacing: 5px;
  font-size: 1.5em;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-family: 'Tilt Prism', cursive;
}
.nav-links{
  position: absolute;
  top: 56px;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 50;
}
.nav-links.active{
  display: block;
}
.nav-links.active .nav-links a{
  opacity: 1;
}
.nav-links a{
  display: block;
  padding: 8px;
  font-size: 1.2em;
  text-transform: capitalize;
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: 0.2s color;
  /* opacity: 0; */
  transition: 0.5s opacity;
}
.nav-links a:last-child{
  border-bottom: none;
}
.nav-links a:hover{
  /* color: #888; */
  color: #ff488e;
}



@media screen and (min-width: 768px) {
  .nav-links{
    width: 20%;
    margin-left: 10%;
  }
}
@media screen and (min-width: 1024px) {
  
  .nav-links a{
    font-size: 1.3em;
  }
}
.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: calc(100vh - 59px); */
  min-height: calc(100vh);
  padding: 10px;
}
.banner-con{
  position: relative;
}
.banner-con::before{
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-bottom: 5px solid rgb(255, 27, 114);
  border-left: 5px solid rgb(255, 27, 114);
  bottom: 0;
  left: 0;
}
.banner-con::after{
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-top: 5px solid rgb(255, 27, 114);
  border-right: 5px solid rgb(255, 27, 114);
  top: 0;
  right: 0;
}
.banner-con h4{
  color: rgb(206, 206, 206);
  /* color: rgb(0, 255, 234); */
  text-transform: capitalize;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 5px;
  letter-spacing: 2px;
  color: rgb(255, 27, 114);
  text-shadow: 1px 1px 1px #000;
}
.banner-con h4 span{
  text-transform: none;
}
.banner-con h4  span::first-letter{
  text-transform: capitalize !important;
}
.banner-con h2{
  color: rgb(237, 237, 237);
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 5px;
  font-size: 1.8em;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #000;
  font-family: 'Tilt Prism', cursive;
  /* font-family: 'Moirai One', cursive; */

}
.banner-con p{
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 5px;
  font-size: 1.2em;
  /* font-family: 'Cedarville Cursive', cursive; */
  font-family: 'Moirai One', cursive;
  
}
.bc-link{
  text-align: center;
}
.bc-link a{
  display: inline-block;
  padding: 5px ;
  width: 150px;
  border: 1px solid #888;
  font-size: 1.2em;
  color: rgb(230, 230, 230);
  border-radius: 5px;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.4s color;
  font-family: 'Cedarville Cursive', cursive;

}
.bc-link a:hover{
  color: #ffb9d4;
  border: 1px solid #ff488e;
}
@media screen and (min-width: 375px) {
  .banner-con h2{
    /* width: 250px; */
    padding: 0 30px;
  }
  .bc-link a{
    font-size: 1.3em;
  }
}
@media screen and (min-width: 425px) {
  .banner-con h2{
    width: 350px;
  }
}
@media screen and (min-width: 768px) {
  .banner-con h4{
    font-size: 1.5em;
  }
  .banner-con h2{
    width: 100%;

    font-size: 2em;
  }
  .bc-link a{
    font-size: 1.4em;
  }
}
@media screen and (min-width: 1024px) {
  .banner-con h4{
    font-size: 1.8em;
  }
  .banner-con h2{        
    font-size: 2.5em;
  }
  .bc-link a{
    font-size: 1.5em;
  }
}

/* about */

.about-cent1,
.about-cent2,
.about-cent3{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.about-cent1,
.about-cent2,
.about-cent3{
  padding: 20px;
}
.about-cent1 .line,
.about-cent2 .line,
.about-cent3 .line{
  margin-bottom: 40px;
  width: 50px;
  height: 3px;
  background: red;
  display: block;
  transition: 0.5s width;
}
.about-cent1 h1,
.about-cent1 h3,
.about-cent2 h1{
  text-transform: capitalize;
  
  /* margin-bottom: 15px; */
}
.about-cent1:hover .line,
.about-cent2:hover .line{
  width: 50%;
}

.about-cent1 h1{
  font-size: 2.5em;
  
}
.about-cent1 h3{
  font-size: 1.2em;
}


.ac1-link a{
  text-transform: capitalize;
  text-decoration: none;
  color: #FF0060;
  border: 1px solid #FF0060;
  padding: 8px;
  border-radius: 4px;
  transition: 0.2s color,0.4s background;
}
.ac1-link a:hover{
  background: #FF0060;
  color: #fff;
}

.ac2-con{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
}

.ac2-info > p{
  text-transform: capitalize;
  margin: 0;
}
.ac2-info p > span{
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.1em;
}

.ac2i-p2{
  text-transform: lowercase !important;
}

.ac2-link{
  display: flex;
  justify-content: space-evenly;
}
.ac2-link a{
  padding: 5px;
  text-decoration: none;
  font-size: 1.4em;
  transition: 0.3s transform,0.4s color;
  color: #FF0060;
}
.ac2-link a:hover .ac2l-icon{
  transform: scale(1.1);
  color: #ff4089;
}

.about-cent3 img{
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 4px;
}


@media screen and (min-width: 768px) {
  

  .about-cent1{
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
  .about-cent3{
    border-bottom: none;
  }
}
@media screen and (min-width: 1024px) {
  .about-cent1,
  .about-cent2,
  .about-cent3{
    border-bottom: none;
  }
  .about-cent1{
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
  .about-cent2{
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
}
/* skill */

.skills{
  display: flex;
  align-content: space-between;
  flex-direction: column;
  min-height: 60vh;
  /* background: red; */
  padding: 10px;
}
.skill-desc{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.skill-desc img{
  display: block;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}
.skill-desc span{
  font-size: 1.3em;
  text-transform: uppercase;
}


.skill-featured{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  /* align-content: space-between; */
  /* min-height: 20vh; */
}
.skill{
  margin: 15px;
  
}
.skill img{
  width: 45px;
  height: 45px;
  opacity: 0.5;
  transition: 0.4s opacity;
  cursor: pointer;
}
.skill img.active{
  opacity: 1;
}
@media screen and (min-width: 375px) {
  .skill{
    margin: 20px 25px;
  }
  .skill img{
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 425px) {
  .skill{
    margin: 25px 30px;
  }
  .skill img{
    width: 55px;
    height: 55px;
  }
  .skill-desc img{
    width: 85px;
    height: 85px;
  }
  .skill-desc span{
    font-size: 1.5em;
  }
}
@media screen and (min-width: 600px) {
  .skill-featured{
    grid-template-columns: repeat(4,auto);
  }
  .skill img{
    width: 60px;
    height: 60px;
  }
  .skill-desc img{
    width: 90px;
    height: 90px;
  }
  .skill-desc span{
    font-size: 1.7em;
  }
  
}
@media screen and (min-width: 768px) {
  .skill-featured{
    grid-template-columns: repeat(6,auto);
  }
  .skill{
    margin: 0 15px;
  }
  .skill img{
    width: 70px;
    height: 70px;
  }
  .skill-desc img{
    width: 100px;
    height: 100px;
  }
  .skill-desc span{
    font-size: 1.9em;
  }
}
@media screen and (min-width: 768px) {
  .skill-featured{
    justify-content: space-evenly;
  }
}




/* services */
.service-section{
  /* background: rgba(210, 210, 210, 0.4); */
  background: rgb(44, 44, 44);
}
.service-section > h1{
  text-align: center;
  text-transform: capitalize;
  font-size: 2.5em;
  /* color: #FF0060; */
  color: #ff4089;
  padding-top: 30px;
  margin-bottom: 30px;
}

.main-service{
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
}

.service{
  display: flex;
  align-items: center;
  flex-direction: column;
  /* width: 80%; */
  margin-bottom: 50px;
}

.service h1{
  margin-bottom: 20px;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: capitalize;
  color: #ff4089;
}
.service .s-icon{
  color: #fff;
  font-size: 3em;
  margin-bottom: 20px;
}
.service p{
  color: #fff;
  text-align: center;
}


@media screen and (min-width: 600px) {
  .service-section > h1{
    font-size: 3.5em;
  }
  .main-service{
    grid-template-columns: repeat(2,1fr);
  }
  .service{
    margin: 0px;
    padding: 20px;
  }
  .service1{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .service2{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .service3{
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  }
  .service4{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
@media screen and (min-width: 1024px){
  .main-service{
    grid-template-columns: repeat(4,23%);
    
  }
  .service{
    border: none;
  }
}

/* portfolio */



.portfolio-section > h1{

  font-size: 2em;
  color: #ff4089;
  text-align: center;
  text-transform: capitalize;
  padding-top: 20px;
  margin-bottom: 30px;
}
  .portfolio-con{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
.portfolio{
  position: relative;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  width: 80%;
  height: 300px;
  overflow: hidden;
  margin: 20px 0;
}

.portfolio:hover .portfolio-desc{
  /* left: 0; */
  transform: scale(1);
}
.portfolio:hover  img{
  transform: scale(1.1);
}
.portfolio-desc{
  position: absolute;
  top: 0;
  transform: scale(0);
  /* left: -100%; */
  background: rgba(188, 188, 188, 0.6);
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: 0.4s;
}
.portfolio-desc h1{
  text-transform: capitalize;
  font-size: 2em;
  color: #ff0062;
}
.portfolio-desc p{
  font-size: 1.2em;
  color: #000;
}
.portfolio img{
  /* position: absolute; */
  display: block;
  width: 100%;
  /* max-height: 300px; */
  height: 100%;
  margin: auto;
  transition: 0.5s;
}

@media screen and (min-width: 600px) {
  .portfolio-section > h1{
    font-size: 2.5em;
  }
  .portfolio{
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-section{
    padding: 20px;
    min-height: 80vh !important;
  }
  .portfolio-section > h1{
    font-size: 3em;
  }
  .portfolio-con{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .portfolio{
    width: 200px;
    height: 200px;
    margin: 0 15px;
  }
}
@media screen and (min-width: 1024px) {
  .portfolio-section{
    min-height: 90vh !important;
  }
  .portfolio-section > h1{
    padding-top: 30px;
    font-size: 3.5em;
  }
  .portfolio{
    width: 250px;
    height: 250px;
    margin: 0 20px;
  }
}
/* contact */
.contact{
  background: rgb(44, 44, 44);
}
.contact h1{
  font-size: 2em;
  color: #ff4089;
  text-align: center;
  text-transform: capitalize;
  padding-top: 30px;
  margin-bottom: 30px;
}
.contact-reply{
  display: flex;
  justify-content: center;
}
.contact-reply form{
  /* padding: 0 20px; */
  width: 80%;
}
.contact-reply form input,
.contact-reply form textarea{
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(210, 210, 210, 0.4);
  padding: 10px 20px;
  margin: 10px 0;
  color: #fff;
  transition: 0.3s;
}
.contact-reply form input::placeholder,
.contact-reply form textarea::placeholder{
  text-transform: capitalize;
}
.contact-reply form input:focus,
.contact-reply form textarea:focus{
  border-bottom: 1px solid #ff4089;
}
#contactSubmitBtn{
  border: 1px solid #ff4089;
  color: #ff4089;
  text-transform: capitalize;
}
#contactSubmitBtn:hover{
  opacity: 0.7;
}
.contact-reply{
  margin-bottom: 50px;
}

.ci {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ci-icon{
  color: #fff;
  font-size: 2em;
  margin-bottom: 20px;
}
.ci h2{
  color: #ff4089;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.ci p{
  color: rgba(210, 210, 210);
  /* width: 200px; */
  text-align: center;
  text-transform: capitalize;
}

.ci2-email{
  text-transform: lowercase !important;
}



@media screen and (min-width: 768px) {
  .contact h1{
    font-size: 3.5em;
  }
  .contact-con{
    display: flex;
    justify-content: space-around;
  }
  .contact-reply{
    flex: 0 0 50%;
  }

}

/* footer */
.footer {
  background: rgb(44, 44, 44);
}
.footer p{
  padding: 20px 0;
  color: #fff;
  text-align: center;
}

.footer-link{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15vh;
}
.footer-link a{
  text-decoration: none;
  margin: 0 20px;
}
.ft-icon {
  color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transition: 0.3s;
}
.footer-link a:hover .ft-icon{
  color: #ff4089;
}

@media screen and (min-width: 425px) {
  .footer p{
    font-size: 1.2em;
  }
}








