/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap'); */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'mainFont';
  src: url('../Roboto_Mono/RobotoMono-VariableFont_wght.ttf');
}
:root{
  --darkGreen: #617A55;
  --green: #A4D0A4;
  --firstColor: #F7E1AE;
  --secondColor: #FFF8D6;
  --dRed: #D21312;
  --lRed: #F15A59;
  --red: #E21818;
  --blue: #00235B;
  --yellow: #FFDD83;
  --lBlue: #98DFD6;
  --bgRed: #f55252;
  --mainWhite: #F0F0F0;
  --mainBlue: #3C486B;
  --mainYellow: #F9D949;
  --mainRed: #F45050;
}
body{
  /* font-family: 'Roboto Mono', monospace; */
  font-family: 'mainFont';
}
 

.header{
  min-height: 50vh;
  /* background: var(--mainWhite); */
  background: linear-gradient(rgba(90, 141, 228, 0.8),rgba(90, 141, 228,0.8)),
  url('../images/banner-pic2.png')center/ cover no-repeat;
  display: flex;
  flex-direction: column;
}
.nav{
  flex: 0 0 0;
  /* min-height: 50vh; */
}
.nav-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.nav-top a{
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
}
.nav-top a:hover{
  color: rgb(51, 126, 255);;
}
.nav-btn{
  padding: 3px;
  margin-right: 10px;
}
.nav-btn:hover{
  cursor: pointer;
}
.bar{
  margin: 4px auto;
}
.bar1,
.bar2,
.bar3{
  width: 20px;
  height: 3px;
  background: #fff;
}
.bar2{
  width: 28px;
}

.nav-link{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* background: var(--mainWhite); */
  background: #f1f1f1;
  height: 100vh;
  display: none;
}
.menu-link a{
  display: block;
  text-decoration: none;
  font-size: 1.3rem;
  text-transform: capitalize;
  color: #5a5a5a;
  padding: 14px 17px;
}
.menu-link a:hover{
  color: rgb(51, 126, 255);
  text-decoration: underline;
}
.close-box{
  text-align: right;
  /* margin-top: 10px; */
  /* margin-right: 10px; */
  padding: 5px;
}
.close-btn{
  padding: 2px 4px;
  border: none;
  background: none;
}
.close-btn:hover{
  cursor: pointer;
  color: red;
}
.btn-times-icon{
  font-size: 1.4rem;
}

@media screen and (min-width: 0px) {
  .header{
    min-height: 55vh;
  }
}

@media screen and (min-width: 700px) {
  .nav-btn,.close-box{ display: none; }
  .nav{
    display: flex;  
    align-items: baseline;
    justify-content: space-between !important;
  }
  .nav-top{
    overflow: hidden;
    margin-left: 15px;
  }
  .nav-top a:hover{
    color: rgb(136, 136, 252) !important;
  }
  .nav-link{
    display: flex;
    justify-content: flex-end;
    position: static;
    height: 0;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .menu-link {
    display: flex;
    color: #fff !important;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .menu-link:hover{
    color: rgb(136, 136, 252) !important;
  }
}
.showMenu{
  display: block;
}
/* banner ------------------------------------- */
.banner{
  display: flex;
  flex-direction: column;
}
.banner-content{
  flex: 1 0 calc(50vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner-content h1,
.banner-content h2,
.banner-content p{
  text-transform: capitalize;
  font-size: 5rem;
  color: #fff;
}
.banner-content p{
  font-size: 1.1rem;
}
.banner-content h2{
  font-size: 1.5rem;
}
.banner-content h2{
  margin-bottom: 25px;
}


.banner-link a{
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px;
  text-transform: capitalize;
  border-radius: 30px;
  transition: 1s color,1s border,1s background;
}
.banner-link a:hover{
  background: #fff;
  color: rgb(89, 89, 255);
  border: 2px solid rgb(75, 75, 255);
}

.banner-footer{
  background: #ffffff;
  min-height: 50vh;
  /* display: none; */
}

@media screen and (min-width: 700px) {
  .header{
    min-height: 80vh;
  }
  .banner{
    min-height: inherit;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .banner-footer{
    display: none;
  }
}











/* about ----------------------------------- */

.about{
  min-height: 50vh;
  padding: 20px 30px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.about h1{
  display: none;
}
.about-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box-shadow: 2px 2px 5px #777; */
}
.img-container{
  /* display: flex; */
  margin-bottom: 35px;
  /* margin-top: 10px; */
}
.about-image{
  width: 250px;
}
.about-image img{
  width: 100%;
  border: 1px solid rgba(170, 170, 170, 0.812);
  border-radius: 50%;
  display: block;
  box-shadow: 1px 1px 5px rgba(170, 170, 170, 0.812);;
}
.about-image p{
  font-size: 1.4rem;
  text-align: center;
  text-transform: capitalize;
  color: #555;
}
.about-info{
  padding: 0 10px;
}
.about-info p{
  text-transform: capitalize;
  font-size: 18px;
}
.about-info p > label{
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
}
.email-text{
  text-transform: lowercase !important;
}
.about-skills{
  display: none;
}
@media screen and (min-width: 700px) {
  .about-container{
    display: grid;
    grid-template-columns: repeat(2,auto);
    /* justify-content: flex-start; */
  }
  .img-container{
    margin: 10px auto;
    /* border: 1px solid #000 !important; */
  }
  .about-info{
    /* width: 50%; */
    /* border: 1px solid #000; */
    margin: 0 10px !important;
  }
  .about-skills{
    display: none !important;
  }
}

.about-skills-img{
  display: flex;
  margin: 30px 0;
}
.about-skills-img .footer-img img{
  width: 50px;
}
@media screen and (min-width: 600px){

  .about-container{
    display: flex;
    flex-direction: column;

  }
  .about-skills-img{
    margin: 20px auto;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1000px) {
  .about{
    min-height: 50vh;
  }
  .about h1{
    display: block;
    font-size: 4rem;
    text-transform: capitalize;
    color: #555;
    text-align: center;
  }
  .about-container{
    display: grid;
    align-items: start;
    grid-template-columns: repeat(3,auto);
    padding: 20px;
  }
  .img-container{
    margin: 0 auto;
  }
  .about-info{
    margin: 0 15px;
    padding: 0 50px;
  }
  .about-skills{
    flex: 1 0 33.3%;
    padding: 5px;
    display: block;
    display: block !important;
    
  }
  .about-skills ul {
    list-style: inside;
    text-transform: uppercase;
  }
  .about-skills ul li{
    margin-bottom: 10px;
  }

  .about-skills-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0;
  }
  .about-skills-img .footer-img img{
    width: 50px;

  }

}
/* services ---------------------------------------------------------- */
.services{
  background: rgba(169, 169, 169, 0.219);
  min-height: 100vh;
  padding: 20px;
}
.services h1{
  text-align: center;
  font-size: 4rem;
  color: #555;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.service-underline{
  width: 50px;
  height: 3px;
  background: blue;
  margin: auto;
}
.services h1:hover{
  color: #777;
}
.service-card{
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  margin: 20px 0;
}
.service-card h2{
  font-size: 1.6rem;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.service-icon{
  margin-bottom: 30px;
}
.card-icon{
  font-size: 3rem;
  cursor: pointer;
  display: inline-block;
  border: 5px solid rgb(55, 108, 255);
  border-radius: 50%;
  padding: 20px;
  color: rgb(55, 108, 255);
  transition: 1s;
}

.service-card:hover .card-icon{
  color: #fff;
  background: rgb(55, 108, 255) ;
  transform: scale(1.1);
}
.service-card p{
  text-align: justify;
}

@media screen and (min-width: 700px) {
  .service-center{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px 20px;
  }
  .service-card{
    margin: 0px;
  }
}
@media screen and (min-width: 1000px) {
  .service-center{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px 20px;
  }
  .service-card{
    margin: 0px;
  }
}




/* portfolio ------------------------------------------------------------------------------- */
.portfolio{
  /* display: none; */
  padding: 20px;
  background: rgba(169, 169, 169, 0.219);
  /* background: linear-gradient(rgb(115, 115, 255),rgb(115, 115, 255)); */
}

.portfolio h1{
  text-align: center;
  font-size: 3rem;
  text-transform: capitalize;
  color: #555;
  transition: 1s width;
}
.portfolio-underline{
  width: 100px;
  height: 3px;
  background: #0062ff;
  margin: auto;
  margin-bottom: 20px;
}
.portfolio h1:hover .portfolio-underline{
  width: 250px;
  color: #fff;
}


.portfolio-card{
  box-shadow: 2px 2px 5px #444;
  text-transform: capitalize;
  margin-bottom: 20px;
  background: #fff;
}
.portfolio-image{
  /* width: 70%; */
  transition: 1s ;
  margin: auto;
  overflow: hidden;
}
.portfolio-image img{
  width: 100%;

  display: block;
  transition: 1s ;
}
.portfolio-card:hover .portfolio-image img{
  transform: scale(1.1);
}
.portfolio-info{
  min-height:100px;
  padding: 15px 10px;
}
.portfolio-info h2{
  font-size: 1.3rem;
}
.portfolio-info p span:first-child{
  color: #0062ff;
}
.portfolio-info p{
  margin-bottom: 15px;
}
.portfolio-link{
  width: 50%;
  margin: auto;
}
.portfolio-link a{
  display: inline-block;
  padding: 13px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  background: #0062ff;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: 1s;
}
.portfolio-link a:hover{
  color: #0062ff;
  background: #fff;
  border: 2px solid #0062ff;
}
@media screen and (min-width: 700px) {
  .portfolio-center{
    display: grid;
    grid-template-columns: repeat(2,auto);
  }
  .portfolio-card{
    margin: 20px;
  }
}
@media screen and (min-width: 1000px) {
  .portfolio-center{
    display: grid;
    grid-template-columns: repeat(3,auto);
  }
  .portfolio-card{
    margin: 20px;
  }
}


/* skills ------------------------ */
/* skill ------------------------------------------ */
.skills{
  padding: 30px;
  /* background: ; */
  min-height: 50vh;
}
.skills h1{
  font-size: 3rem;
  text-transform: capitalize;
  color: #555;
  text-align: center;
  margin-bottom: 30px;
}
.skill-center{
  display: flex;
  justify-content: center;
}
.card{
  /* border: 1px solid; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card-img{
  margin-bottom: 15px;
}
/* .card-img img{
  width: 150px;
  height: 150px;
  display: block;
  margin-bottom: 10px;
} */

.caption-container{
  width: 100%;
  background: #555;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.card-footer{
  display: flex;
  /* flex-direction: column; */
}

.footer-img{
  margin: 0 10px;
  /* opacity: 0.5; */
}
.footer-img img{
  width: 50px;
}
.footer-icon{
  opacity: 0.5;
}
.footer-icon.active{
  opacity: 1;
}

@media screen and (min-width: 700px) {
  .footer-img{
    margin: 0 30px;
  }
  .footer-img img{
    width: 100px;
  }
  .image-show{
    width: 150px;
  }
  .caption-container{
    width: 10%;
    padding: 10px;
  }
}

/* contact ------------------------------ */

.contact{
  padding: 30px;
  background: rgb(69, 144, 255);
   display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.contact h1{
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
  text-transform: capitalize;
  color: #fff;
}
.contact-info{
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid #fff; */
  width: 100%;
}

.contact-info ul{
  /* margin: auto; */
  list-style: none;
}
.contact-info > div{
  color: #fff;
  font-size: 1.3rem;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.contact-email{
  text-transform: lowercase !important;
}
.contact-icon{
  font-size: 1.5;
}
.form-container{
  display: flex;
  justify-content: center;
  /* border: 1px solid #fff; */
}
.contact-form{
  width: 100%;
}
.form-group{
  margin: 10px 0;
}
.form-group > label{
  font-size: 1.3rem;
  text-transform: capitalize;
  color: #fff;
}
.email,
.message{
  width: 100%;
}
.email{
  margin: 15px 0;
  font-size: 1.1rem;
  padding: 5px;
  /* background:rgb(36, 123, 255); */
  /* color: #fff; */
  letter-spacing: 2px;
  border-radius: 3px;
  border: none;
}
.message{
  margin: 15px 0;
  font-size: 1.1rem;
  padding: 5px;
  /* background:rgb(36, 123, 255); */
  /* color: #fff; */
  letter-spacing: 2px;
  border-radius: 3px;
  border: none;
}
.form-group input[type='submit']{
  padding: 5px;
  border: 2px solid #fff;
  background: #fff;
  color: rgb(69, 144, 255);
  width: 100%;
  font-size: 1.4rem;
  text-transform: capitalize;
}
.form-group input[type='submit']:hover{
  color: #fff;
  background: rgb(69, 144, 255);
  box-shadow: 2px 2px 5px #d6d6d6;
}

@media screen and (min-width: 750px) {
  .contact{
    padding: 0px 0px;
    /* overflow: hidden; */
  }
  .contact-center{
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(2,auto);
    width: 96%;
    overflow: hidden;
  }
  .contact-info{
    margin: auto;
    width: 60%;
  }
  .form-container{
    margin: auto;
    width: 75%;
  }
  .form-group input[type='submit']{
    margin-bottom: 30px;
  }
}

/* footer */

.footer{
  padding: 30px;
  min-height: 50vh;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer > p{
  text-transform: capitalize;
   margin-bottom: 20px;
   font-size: 1.1;
}
.copyright{
  font-size: 1.2rem;  
}
.footer-menu  {
  list-style: none;
  display: flex;
}
.footer-menu li a{
  margin: 0 10px;
}
.footer-menu-icons{
  padding: 5px;
  margin: 10px;
  font-size: 1.5rem;
  border-radius: 50%;
  color: rgba(87, 153, 253, 0.93);
  transition: 0.5s;
}
.footer-menu-icons:hover{
  background: rgba(0, 102, 255, 0.93);
  transform: scale(1.1);
  color: #fff;
}
.footer-icon-btn{
  margin-bottom: 20px;
  font-size: 1.4rem;
  border: 2px solid rgba(66, 140, 252, 0.93);
  border-radius: 50%;
  padding: 3px 5px;
  color: rgba(66, 140, 252, 0.93);
  transition: 0.5s;
}
.footer-icon-btn:hover{
  color: #fff;
  background: rgba(0, 102, 255, 0.93);
  
  transform: scale(1.2);
}